main {
 padding-top: 2.5rem;
}

.testimonial {
 font-size: 1.2rem;
 /* margin: 3rem 0; */
}

/* .testimonial__list {
 width: 80%;
 margin: auto;
} */

.testimonial__image-container {
 width: 60%;
 max-width: 40rem;
 box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
 transform: skewX(20deg); /*skewY(20deg);*/
 /* skew lets you rotate the element */
 overflow: hidden;
}

#customer-1:hover .testimonial__image-container {
 animation: flip-customers 1s ease-out forwards;
}
.testimonial__image {
 width: 100%;
 vertical-align: top;
 transform: skew(-20deg) scale(1.4);
 /* scale lets you increase/decrease the image size in this case */
}
.testimonial__info {
 text-align: right;
 padding: 0.9rem;
}

#customer-2.testimonial {
 text-align: right;
}

#customer-2 .testimonial__info {
 text-align: left;
}

.testimonial__name {
 margin: 0.2rem;
 color: #ff5454;
 font-size: 2rem;
}

.testimonial__subtitle {
 margin: 0;
 font-size: 1.1rem;
 color: #ccc;
}

.testimonial__subtitle a {
 color: inherit;
 text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
 color: #7a7a7a;
}

.testimonial__text {
 margin: 0.2rem;
 /* font properties */
 /* font-stretch: ultra-condensed; */
 /* letter-spacing: 5px; */
 /* white-space: pre-line; */
}

@media (min-width: 40rem) {
 .testimonial {
  margin: 3rem auto;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 .testimonial__image-container {
  width: 66%;
 }
 .testimonial__info {
  width: 30%;
 }
}

@keyframes flip-customers {
 0% {
  transform: rotateY(0) skew(20deg);
 }
 50% {
  transform: rotateY(160deg) skew(20deg);
 }
 100% {
  transform: rotateY(360deg) skew(20deg);
 }
}
