@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

:root {
 --dark-green: #0e4f1f;
 --highlight-color: #ff1b68;
}

* {
 box-sizing: border-box;
}

html {
 height: 100%;
}

body {
 font-family: "Montserrat", sans-serif;
 /* font-family:
 we specify which fonts and in which order we want them to display */
 margin: 0;
 padding-top: 3.5rem;
 height: 100%;
}

@support (display:grid) {
 /* if the browser supports grid then this code below will run */
 body {
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas:
   "header"
   "main"
   "footer";
  padding-top: 0;

  height: 100%;
 }
}

main {
 /* min-height: calc(100vh - 3.5rem - 8rem); */
 /* grid-row: 2 / 3; */
 grid-area: main;
}

.backdrop {
 display: none;
 position: fixed;
 opacity: 0;
 transition: opacity 0.2s linear;
 top: 0;
 left: 0;
 z-index: 100;
 width: 100vw;
 height: 100vh;
 background: rgba(0, 0, 0, 0.5);
}

.main-header {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 background: #2ddf5c;
 padding: 0.5rem 1rem;
 z-index: 60;
 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* space-between will fill the space between the flex items*/
 /* so the items will be pulled to the sides */
}

.toggle-button {
 width: 3rem;
 background: transparent;
 border: none;
 cursor: pointer;
 padding-top: 0;
 padding-bottom: 0;
 vertical-align: middle;
}

.toggle-button:focus {
 outline: none;
}

.toggle-button__bar {
 width: 100%;
 height: 0.2rem;
 background: black;
 display: block;
 margin: 0.6rem 0;
}

.main-header__brand {
 color: var(--dark-green);
 text-decoration: none;
 font-weight: bold;
 /* width: 20px; */
}

.main-header__brand img {
 height: 2.5rem;
 vertical-align: middle;
 /* width: 100%; */
}

.main-nav {
 display: none;
}

.main-nav__items {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
}

.main-nav__item {
 margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
 text-decoration: none;
 color: var(--dark-green);
 font-weight: bold;
 padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
 color: white;
 border-bottom: 5px solid white;
}

.main-nav__item--cta {
 animation: wiggle 400ms 3s 8 ease-out none;
 /* animation: 
 animation-name iteration-delay delay-to-start times-to-repeat-animation reverse/alternate 
 state-to-start/keep(foward:lastanimationstate,backwards:initialanimationstate, both: both fowards and backwards)*/
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
 color: white;
 background: var(--highlight-color);
 padding: 0.5rem 1rem;
 border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
 color: var(--highlight-color);
 background: white;
 border: none;
}

@media (min-width: 40rem) {
 .toggle-button {
  display: none;
 }
 .main-nav {
  display: flex;
 }
}

.main-footer {
 background: black;
 padding: 2rem;
 margin-top: 3rem;
 /* grid-row: 3 / 4; */
 grid-area: footer;
}

.main-footer__links {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
}

.main-footer__link {
 margin: 0.5rem 0;
}

.main-footer__link a {
 color: white;
 text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
 color: #ccc;
}

.button {
 background: var(--dark-green);
 color: white;
 font: inherit;
 border: 1.5px solid var(--dark-green);
 padding: 0.5rem;
 border-radius: 8px;
 font-weight: bold;
 cursor: pointer;
}

.button:hover,
.button:active {
 background: white;
 color: var(--dark-green);
}

.button:focus {
 outline: none;
}

.button[disabled] {
 cursor: not-allowed;
 border: #a1a1a1;
 background: #ccc;
 color: #a1a1a1;
}
.mobile-nav {
 display: none;
 position: fixed;
 z-index: 101;
 top: 0;
 left: 0;
 background: white;
 width: 80%;
 height: 100vh;
}

.mobile-nav__items {
 width: 90%;
 height: 100%;
 list-style: none;
 margin: 10% auto;
 padding: 0;
 text-align: center;
}

.mobile-nav__item {
 margin: 1rem 0;
}

.mobile-nav__item a {
 font-size: 1.5rem;
}

.open {
 display: block !important;
 opacity: 1 !important;
 transform: translateY(0) !important;
}

.modal {
 position: fixed;
 opacity: 0;
 transform: translateY(-3rem);
 transition: opacity 200ms ease-out,
  transform 0.6s cubic-bezier(0.64, 0, 0.78, 0);
 /* transition indicates which properties to watch, the duration for a property to change */
 /* ease-in:starts slower ease-out:ends slower */
 z-index: 200;
 top: 20%;
 left: 30%;
 width: 40%;
 background: white;
 padding: 1rem;
 border: 1px solid #ccc;
 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
 text-align: center;
 margin: 0 0 1rem 0;
}

.modal__actions {
 text-align: center;
}

.modal__action {
 border: 1px solid var(--dark-green);
 background: var(--dark-green);
 text-decoration: none;
 color: white;
 font: inherit;
 padding: 0.5rem 1rem;
 cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
 background: #2ddf5c;
 border-color: #2ddf5c;
}

.modal__action--negative {
 background: red;
 border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
 background: #ff5454;
 border-color: #ff5454;
}

@media (min-width: 40rem) {
 .main-footer__link {
  margin: 0 1rem;
 }
 .main-footer__links {
  flex-direction: row;
  justify-content: center;
 }
}

@keyframes wiggle {
 /* css animations */
 0% {
  /* you can change any property in here, even ones that cannot be animated, just by adding them after each other */
  transform: rotateZ(0deg);
 }
 50% {
  transform: rotateZ(-10deg);
 }
 100% {
  transform: rotateZ(10deg);
 }
 /* from {

 }
 to {

 } */
}
