.container {
 margin: 20px;
 display: grid;
 /* explicit grid */
 grid-template-columns: repeat(3, 15rem);
 /*repeat(auto-fill, 15rem) autofill allows you to fill either with columns or rows to the viewport available space*/
 /*repeat(auto-fit, 15rem) centers and fit the content without creating new elements*/
 grid-template-rows: 20rem;
 justify-content: center;
 grid-gap: 1.5rem;
 /* implicit grid */
 grid-auto-rows: minmax(8rem, auto);
 /* grid-auto-rows auto generates rows with a given dimension */
 grid-auto-flow: row dense;
 /*dense will fill all empty space in the grid if there is any*/
 /* grid-auto-flow allows you to define where new elements are added either row or column */
 /* grid-auto-columns: 5rem; */
 /* grid-auto-rows auto generates cols with a given dimension */
}

.quote {
 border: 1px solid #fa923f;
 background: #ffbd87;
 font-family: sans-serif;
 padding: 1rem;
 border-radius: 5px;
}
.quote:nth-of-type(2) {
 grid-column: span 2;
}

.quote--featured {
 border: #ff4213;
 background: #ff9f87;
 grid-column: span 2;
}
