.first-box {
 padding: 10px 20px 30px 40px;
 margin: 40px 30px 20px 10px;
 border: 5px black solid;
 height: 300px;
 width: 50%;
 display: none;
}

.second-box {
 padding: 10px 20px 30px 40px;
 margin: 40px 30px 20px 10px;
 border: 5px black solid;
 display: inline-block;
}

div:last-of-type:hover {
 border-color: red;
}
