@font-face {
 /* importing a custom family */
 font-family: "AnonymousPro";
 src: url("AnonymousPro-Regular.ttf") format("truetype");
 /* font-display: swap; */
 /* url("AnonymousPro-Regular.woff2") format("woff2")
 url("AnonymousPro-Regular.woff") format("woff") */
}

@font-face {
 font-family: "AnonymousPro";
 src: url("AnonymousPro-Bold.ttf") format("truetype");
 font-weight: 700;
}

main {
 padding-top: 2rem;
}

.background {
 background: url("../images/plans-background.jpg") center/cover;
 filter: grayscale(40%);
 width: 100vw;
 height: 100vh;
 position: fixed;
 z-index: -1;
}

.package {
 width: 80%;
 margin: 1rem 0;
 border: 4px solid #034f1f;
 border-left: none;
 position: relative;
 overflow: hidden;
}

.package a {
 text-decoration: none;
 color: inherit;
 display: block;
 /* block, to let out anchor occupy the full available width */
 padding: 2rem;
}

.package:hover,
.package:active {
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0, 0.5);
 border-color: #ff5454;
}

.package__badge {
 position: absolute;
 top: 0;
 right: 0;
 margin: 0;
 font-size: 0.8rem;
 color: white;
 background: #ff5454;
 padding: 0.5rem;
 width: 12rem;
 text-align: center;
 transform: rotate(45deg) translate(3.5rem, -1rem);
 /* transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem); */
 /* translateX moves the element across the X axis, both X and Y axis will depend on the element rotate property*/
 /* transform-origin: left top; *
 /* transform-origin sets a new origin for the transformation */
}

.package__subtitle {
 color: #979797;
}

.package__info {
 padding: 1rem;
 border: 1px solid #034f1f;
 color: #034f1f;
 background: white;
 /* font-size: 1.2rem; */
 /* font-family: "AnonymousPro", sans-serif;*/
 /*font-weight: 700; */
 /* font shorthand to use it we need at least fontsize and font family*/
 /* font-style font-variant font-weight font-size/line-height font-family; */
 font-size: 1.2rem;
 /* line-height: 2; */
 /* text-decoration: underline red wavy; */
 /* text-shadow: 0px 0px 20px gray; */
}

.clearfix {
 clear: both;
}

#plus {
 background: rgba(213, 255, 220, 0.95);
}

#free {
 background: rgba(234, 252, 237, 0.95);
 float: right;
 border: 4px solid #034f1f;
 border-right: none;
 text-align: right;
}

#free:hover,
#free:active {
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0, 0.5);
 border-color: #ff5454;
}

#premium {
 background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
 color: white;
}

#premium .package__subtitle {
 color: #bbb;
}

/* 
 absolute 
 the positioning context changes to the closest ancestor which has a position property applied
 If there is not any ancestor with a position property the position context is the html element
 fixed
 the positioning context is always the viewport 
 */
@media (min-width: 40rem) {
 main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media (min-width: 1500px) {
 .package {
  border-left: 4px solid #034f1f;
 }
 #free {
  border-right: 4px solid #034f1f;
 }
}
