<!-- first example --><link rel="stylesheet" href="main.css" />
<div class="container">
 <form action="">
  <div class="form-row">
   <label for="name">Name:</label>
   <input type="text" id="name" />
  </div>
  <div class="form-row">
   <label for="favColor">Favorite Color:</label>
   <input type="text" id="favColor" />
  </div>
 </form>
</div>

<!-- second example -->
<div class="column-layout">
 <div class="main-column">
  <h2>Main Column</h2>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatibus
   soluta, consequuntur, reiciendis debitis omnis fugiat libero pariatur amet
   laudantium minima consectetur tenetur. Repudiandae, autem, voluptate modi
   deleniti sequi voluptatum!
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit
   veniam amet quae sint vitae numquam dolore sunt quod a odio officia voluptate
   doloribus, at. Cum quasi mollitia eaque. Voluptatibus soluta, consequuntur,
   reiciendis debitis omnis fugiat libero pariatur amet laudantium.
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatibus
   soluta, consequuntur, reiciendis debitis omnis fugiat libero pariatur amet
   laudantium minima consectetur tenetur. Repudiandae, autem, voluptate modi
   deleniti sequi voluptatum!
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum fugit
   veniam amet quae sint vitae numquam dolore sunt quod a odio officia voluptate
   doloribus, at. Cum quasi mollitia eaque.
  </p>
 </div>

 <div class="sidebar-one">
  <h3>Sidebar One</h3>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum modi
   nisi tenetur sint dignissimos nulla, blanditiis nesciunt.
  </p>
 </div>

 <div class="sidebar-two">
  <h3>Sidebar Two</h3>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum modi
   nisi tenetur sint dignissimos nulla, blanditiis nesciunt.
  </p>
 </div>
</div>

<!-- third example -->
<div class="call-outs-container">
 <div class="call-out">
  <h4>Feature 1</h4>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati
   vel, placeat numquam omnis sit consectetur nobis molestias! Explicabo
   deserunt. Consectetur adipisicing elit. Quibusdam obcaecati vel, placeat
   numquam placeat numquam omnis sit consectetur.
  </p>
 </div>

 <div class="call-out">
  <h4>Feature 2</h4>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati
   vel, placeat numquam omnis sit consectetur nobis molestias! Explicabo
   deserunt placeat numquam omnis.
  </p>
 </div>

 <div class="call-out">
  <h4>Feature 3</h4>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati
   vel, placeat numquam omnis sit.
  </p>
 </div>
</div>

<!-- fourth example -->
<div class="fixed-size-container">
 <div class="fixed-size">1</div>
 <div class="fixed-size">2</div>
 <div class="fixed-size">3</div>
 <div class="fixed-size">4</div>
 <div class="fixed-size">5</div>
</div>

<!-- fifth example -->
<div class="banner">
 <div class="center-me">Center Me Plz</div>
</div>

<!-- sixth example -->
<div class="equal-height-container">
 <div class="first">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi
   similique amet voluptatem molestiae nostrum ab nesciunt blanditiis
   repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi
   doloribus quo.
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam,
   veritatis ducimus, vero magnam hic quia pariatur asperiores laudantium quod
   nobis perspiciatis, expedita quo reprehenderit quasi iusto ullam error
   reiciendis.
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi
   similique amet voluptatem molestiae nostrum ab nesciunt blanditiis
   repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi
   doloribus quo.
  </p>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam,
   veritatis ducimus, vero magnam hic quia pariatur asperiores laudantium quod
   nobis perspiciatis, expedita quo reprehenderit quasi iusto ullam error
   reiciendis.
  </p>
 </div>

 <div class="second">
  <div class="second-a">A</div>
  <div class="second-b">B</div>
 </div>
</div>
