@import "_variables.scss";

@import "typography.scss";

//mixins
@mixin display-flex() {
 display: -webkit-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}

@mixin media-min-width($width) {
 @media (min-width: $width) {
  @content;
 }
}

html {
 font-size: 94.75%;
 @include media-min-width(40rem) {
  font-size: 125%;
 }
}

body {
 font-family: Arial, sans-serif;
 margin: 0;
}

.container {
 @include display-flex();
 // flex-direction: column;
 // flex-wrap: nowrap;
 flex: {
  // nested properties with the same prefix
  direction: column;
  wrap: nowrap;
 }
 align-items: center;
 padding: $size-default * 3 0;
 box-sizing: border-box;
}

.sass-section {
 text-align: center;
 border: $border-default;
 //lighten function
 background: lighten(map-get($colors, main), 72%);
 padding: $size-default * 2;
 width: 90%;
 box-sizing: border-box;
 @include media-min-width(40rem) {
  width: 30rem;
 }
}
.sass-introduction {
 @extend .sass-section;
 box-shadow: $size-tiny $size-tiny $size-tiny / 2 #ccc;
 p {
  margin: 0;
 }
}

.sass-details {
 @extend .sass-section;
 margin: $size-default * 2 0;
}

.section-header {
 border-bottom: $border-default;
 h1 {
  margin: 0 0 $size-default 0;
 }
}

.documentation-links {
 list-style: none;
 margin: $size-default 0 0 0;
 padding: 0;
 @include display-flex();
 flex-direction: column;

 li {
  margin: $size-tiny 0;
  background: white;
 }

 .documentation-link {
  text-decoration: none;
  color: map-get($colors, main);
  display: block;
  padding: $size-tiny;
  border: $border-default;
  //Ampersand connect speudo selectors to the actual element
  &:hover,
  &:active {
   color: white;
   background: map-get($colors, secondary);
   border-color: map-get($colors, secondary);
  }
 }
}

@media (min-width: 40rem) {
 .container {
  padding: 3rem 0;
 }

 .sass-introduction,
 .sass-details {
  width: 30rem;
 }
}
