.container {
 margin: 20px;
 display: grid;
 height: 800px;
 /* width: 800px; */
 /* grid-template-columns: 200px 5rem 20% auto; */
 grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
 grid-template-rows:
  [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem)
  [row-2-end row-3-start] 100px [row-3-end];
 grid-template-areas:
  "header header header header"
  ". side main main"
  "footer footer footer footer";
 justify-items: stretch;
 /*  justify-items: start center end horizontally */
 align-items: stretch;
 /* align-items vertically */
 /* justify-content: center; */
 /* justify-content aligns the grid horizontally in the container area */
 /* align-content: center; */
 /* align-content aligns the grid vertically in the container area */
 /* grid-column-gap: 20px;
 grid-row-gap: 10px; */
 grid-gap: 10px 20px; /*shorthand grid-gap: row-gap col-gap*/
 /* you can also name the rows/cols as you like */
}

@media (max-width: 40rem) {
 .container {
  grid-template-rows:
   [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem)
   [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
  grid-template-areas:
   "header header header header"
   "main main main main"
   "side side side side"
   "footer footer footer footer";
 }
}

.el1 {
 background: rgba(255, 154, 72, 0.5);
 /* grid-column: col-start 2 / col-end 2; */
 /* auto generated grid area names */
 grid-area: side;
}

.el2 {
 background: rgba(255, 0, 0, 0.5);
 /* grid-column-start: 1;
 grid-column-end: -1; */
 grid-column: 1 / -1; /*shorthand*/
 /* grid-row-start: row-2-start;
 grid-row-end: span 1; */
 grid-row: row-2-start / span 1;
 z-index: 10;
 grid-area: main;
 /* -1 will represent the ending line of the grid */
 /* justify-self: center;
 align-self: center; */
 /*justify-self / align-self alings the element in its container */
}

.el3 {
 background: rgba(0, 128, 0, 0.5);
 /* grid-column-start: 2;
 grid-column-end: span 3; */
 /* span allows us to span to multiple cols/rows */
 /* grid-row-start: row-1-start;
 grid-row-end: row-2-end; */
 grid-area: hd; /*will only works if you follow the naming pattern of -start -end*/
 /* grid-area: header; */
 /*grid-area: row-1-start / 2 / row-2-end / span 3;*/ /*shorthand*/
 /* grid-area: row-start / col-start / row-end / col-end */
}

.el4 {
 background: rgba(0, 4, 255, 0.5);
 grid-area: footer;
}
