.container {
 position: relative;
 margin: 150px auto;
 border: 1px solid black;
 width: 200px;
 height: 200px;
 perspective: 1000px;
 perspective-origin: 500px;
 transform: rotateY(130deg);
 transform-style: preserve-3d;
}

.box1 {
 position: absolute;
 background: red;
 width: 100%;
 height: 100%;
 transform: rotateY(80deg);

 /* rotateX  */
 color: white;
 font-family: sans-serif;
 text-align: center;
 z-index: 1;
 backface-visibility: visible;
 /* backface-visibility: hidden; 
 If you rotate an element and you start seeing its back then it will show nothing */
}

.box2 {
 position: absolute;
 background: blue;
 width: 100%;
 height: 100%;
 transform: translateZ(-10rem);

 /* rotateX  */
 color: white;
 font-family: sans-serif;
 text-align: center;
}
