<svg viewBox="0 0 512 512">
 <path
  style="fill:#F09B24;"
  d="M344,248h-32V112c0-4.418-3.582-8-8-8h-40c-4.418,0-8,3.582-8,8s3.582,8,8,8h32v128h-32  c-4.418,0-8,3.582-8,8s3.582,8,8,8h32v128h-32c-4.418,0-8,3.582-8,8s3.582,8,8,8h40c4.418,0,8-3.582,8-8V264h32c4.418,0,8-3.582,8-8  S348.418,248,344,248z"
 />
 <path
  style="fill:#8E9AA9;"
  d="M264,64H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256c4.418,0,8-3.582,8-8V72  C272,67.582,268.418,64,264,64z"
 />
 <path
  style="fill:#7C899B;"
  d="M24,144c-4.418,0-8-3.582-8-8V64H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256  c4.418,0,8-3.582,8-8v-8H24z"
 />
 <rect x="152" y="96" style="fill:#B8E3A8;" width="88" height="32" />
 <g>
  <polygon style="fill:#7EC97D;" points="152,96 152,128 166,128 198,96  " />
  <polygon style="fill:#7EC97D;" points="220,96 188,128 240,128 240,96  " />
 </g>
 <path
  style="fill:#56677E;"
  d="M240,136h-88c-4.418,0-8-3.582-8-8V96c0-4.418,3.582-8,8-8h88c4.418,0,8,3.582,8,8v32  C248,132.418,244.418,136,240,136z M160,120h72v-16h-72V120z"
 />
 <g>
  <path
   style="fill:#435670;"
   d="M32,136c-4.418,0-8-3.582-8-8V96c0-4.418,3.582-8,8-8s8,3.582,8,8v32C40,132.418,36.418,136,32,136z   "
  />
  <path
   style="fill:#435670;"
   d="M56,136c-4.418,0-8-3.582-8-8V96c0-4.418,3.582-8,8-8s8,3.582,8,8v32C64,132.418,60.418,136,56,136z   "
  />
  <path
   style="fill:#435670;"
   d="M80,136c-4.418,0-8-3.582-8-8V96c0-4.418,3.582-8,8-8s8,3.582,8,8v32C88,132.418,84.418,136,80,136z   "
  />
  <path
   style="fill:#435670;"
   d="M104,136c-4.418,0-8-3.582-8-8V96c0-4.418,3.582-8,8-8s8,3.582,8,8v32   C112,132.418,108.418,136,104,136z"
  />
  <path
   style="fill:#435670;"
   d="M128,105c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,101.418,132.418,105,128,105z"
  />
  <path
   style="fill:#435670;"
   d="M128,136c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,132.418,132.418,136,128,136z"
  />
 </g>
 <path
  style="fill:#8E9AA9;"
  d="M264,208H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256c4.418,0,8-3.582,8-8v-80  C272,211.582,268.418,208,264,208z"
 />
 <path
  style="fill:#7C899B;"
  d="M24,288c-4.418,0-8-3.582-8-8v-72H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256  c4.418,0,8-3.582,8-8v-8H24z"
 />
 <rect x="152" y="240" style="fill:#B8E3A8;" width="88" height="32" />
 <g>
  <polygon style="fill:#7EC97D;" points="152,240 152,272 166,272 198,240  " />
  <polygon style="fill:#7EC97D;" points="220,240 188,272 240,272 240,240  " />
 </g>
 <path
  style="fill:#56677E;"
  d="M240,280h-88c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8h88c4.418,0,8,3.582,8,8v32  C248,276.418,244.418,280,240,280z M160,264h72v-16h-72V264z"
 />
 <g>
  <path
   style="fill:#435670;"
   d="M32,280c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C40,276.418,36.418,280,32,280   z"
  />
  <path
   style="fill:#435670;"
   d="M56,280c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C64,276.418,60.418,280,56,280   z"
  />
  <path
   style="fill:#435670;"
   d="M80,280c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C88,276.418,84.418,280,80,280   z"
  />
  <path
   style="fill:#435670;"
   d="M104,280c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32   C112,276.418,108.418,280,104,280z"
  />
  <path
   style="fill:#435670;"
   d="M128,249c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,245.418,132.418,249,128,249z"
  />
  <path
   style="fill:#435670;"
   d="M128,280c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,276.418,132.418,280,128,280z"
  />
 </g>
 <path
  style="fill:#8E9AA9;"
  d="M264,352H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256c4.418,0,8-3.582,8-8v-80  C272,355.582,268.418,352,264,352z"
 />
 <path
  style="fill:#7C899B;"
  d="M24,432c-4.418,0-8-3.582-8-8v-72H8c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h256  c4.418,0,8-3.582,8-8v-8H24z"
 />
 <rect x="152" y="384" style="fill:#B8E3A8;" width="88" height="32" />
 <g>
  <polygon style="fill:#7EC97D;" points="152,384 152,416 166,416 198,384  " />
  <polygon style="fill:#7EC97D;" points="220,384 188,416 240,416 240,384  " />
 </g>
 <path
  style="fill:#56677E;"
  d="M240,424h-88c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8h88c4.418,0,8,3.582,8,8v32  C248,420.418,244.418,424,240,424z M160,408h72v-16h-72V408z"
 />
 <g>
  <path
   style="fill:#435670;"
   d="M32,424c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C40,420.418,36.418,424,32,424   z"
  />
  <path
   style="fill:#435670;"
   d="M56,424c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C64,420.418,60.418,424,56,424   z"
  />
  <path
   style="fill:#435670;"
   d="M80,424c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32C88,420.418,84.418,424,80,424   z"
  />
  <path
   style="fill:#435670;"
   d="M104,424c-4.418,0-8-3.582-8-8v-32c0-4.418,3.582-8,8-8s8,3.582,8,8v32   C112,420.418,108.418,424,104,424z"
  />
  <path
   style="fill:#435670;"
   d="M128,393c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,389.418,132.418,393,128,393z"
  />
  <path
   style="fill:#435670;"
   d="M128,424c-4.418,0-8-3.582-8-8v-1c0-4.418,3.582-8,8-8s8,3.582,8,8v1   C136,420.418,132.418,424,128,424z"
  />
 </g>
 <path
  style="fill:#F7C14D;"
  d="M424,168c-48.523,0-88,39.477-88,88s39.477,88,88,88s88-39.477,88-88S472.523,168,424,168z"
 />
 <path
  style="fill:#FFDB66;"
  d="M424,184c-39.701,0-72,32.299-72,72s32.299,72,72,72s72-32.299,72-72S463.701,184,424,184z"
 />
 <path
  style="fill:#69788D;"
  d="M484.893,314.16C476.393,274.588,451.922,248,424,248s-52.393,26.588-60.893,66.16  c-0.605,2.82,0.354,5.749,2.511,7.664C381.731,336.124,402.465,344,424,344s42.269-7.876,58.381-22.176  C484.539,319.909,485.498,316.98,484.893,314.16z"
 />
 <path
  style="fill:#56677E;"
  d="M434.053,249.171C430.768,248.403,427.411,248,424,248c-27.922,0-52.393,26.588-60.893,66.16  c-0.605,2.82,0.354,5.749,2.511,7.664c3.383,3.002,6.979,5.703,10.734,8.125C384.904,286.243,407.373,255.378,434.053,249.171z"
 />
 <path
  style="fill:#69788D;"
  d="M424,192c-17.645,0-32,14.355-32,32s14.355,32,32,32s32-14.355,32-32S441.645,192,424,192z"
 />
 <path
  style="fill:#56677E;"
  d="M432,248c-17.645,0-32-14.355-32-32c0-6.783,2.128-13.076,5.742-18.258  C397.444,203.53,392,213.138,392,224c0,17.645,14.355,32,32,32c10.862,0,20.471-5.444,26.258-13.742  C445.076,245.872,438.783,248,432,248z"
 />
</svg>
