<svg viewBox="0 0 512 512">
 <path
  style="fill:#69788D;"
  d="M248,0H8C3.582,0,0,3.582,0,8v496c0,4.418,3.582,8,8,8h240c4.418,0,8-3.582,8-8V8  C256,3.582,252.418,0,248,0z"
 />
 <path
  style="fill:#56677E;"
  d="M24,504V8c0-4.418,3.582-8,8-8H8C3.582,0,0,3.582,0,8v496c0,4.418,3.582,8,8,8h24  C27.582,512,24,508.418,24,504z"
 />
 <g>
  <rect x="0" y="112" style="fill:#435670;" width="256" height="16" />
  <rect x="0" y="240" style="fill:#435670;" width="256" height="16" />
 </g>
 <path
  style="fill:#F7C14D;"
  d="M128,392c-22.056,0-40,17.944-40,40s17.944,40,40,40s40-17.944,40-40S150.056,392,128,392z"
 />
 <path
  style="fill:#FFDB66;"
  d="M128,408c-13.233,0-24,10.767-24,24s10.767,24,24,24s24-10.767,24-24S141.233,408,128,408z"
 />
 <path
  style="fill:#F7C14D;"
  d="M128,392c-2.739,0-5.414,0.278-8,0.805V424c0,4.418,3.582,8,8,8c4.418,0,8-3.582,8-8v-31.195  C133.414,392.278,130.739,392,128,392z"
 />
 <g>
  <path
   style="fill:#435670;"
   d="M216,288H40c-4.418,0-8-3.582-8-8s3.582-8,8-8h176c4.418,0,8,3.582,8,8S220.418,288,216,288z"
  />
  <path
   style="fill:#435670;"
   d="M216,328H40c-4.418,0-8-3.582-8-8s3.582-8,8-8h176c4.418,0,8,3.582,8,8S220.418,328,216,328z"
  />
  <path
   style="fill:#435670;"
   d="M216,368H40c-4.418,0-8-3.582-8-8s3.582-8,8-8h176c4.418,0,8,3.582,8,8S220.418,368,216,368z"
  />
  <path
   style="fill:#435670;"
   d="M216,16H40c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8h176c4.418,0,8-3.582,8-8V24   C224,19.582,220.418,16,216,16z"
  />
 </g>
 <rect x="48" y="32" style="fill:#56677E;" width="160" height="48" />
 <path
  style="fill:#435670;"
  d="M216,144H40c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8h176c4.418,0,8-3.582,8-8v-64  C224,147.582,220.418,144,216,144z"
 />
 <rect x="48" y="160" style="fill:#56677E;" width="160" height="48" />
 <path
  style="fill:#F09B24;"
  d="M511.747,180.237c-0.194-6.537-8.107-10.107-13.135-5.894c-5.6,4.693-42.904,21.282-98.514,21.282  c-33.45,0-64.625-20.999-64.929-21.206c-2.9-1.991-6.764-1.85-9.512,0.346c-2.677,2.135-27.201,20.86-63.793,20.86  c-55.607,0-92.914-16.589-98.515-21.282c-5.028-4.211-12.941-0.645-13.135,5.894c-1.634,54.834,4.655,105.941,18.693,151.903  c12.096,39.604,29.759,74.047,52.497,102.373c27.538,34.304,62.743,59.882,104.66,76.045c3.069,1.918,6.757,1.921,9.83,0  c41.917-16.163,77.122-41.741,104.66-76.045c22.738-28.326,40.401-62.77,52.497-102.373  C507.092,286.179,513.381,235.071,511.747,180.237z"
 />
 <path
  style="fill:#F7C14D;"
  d="M476.21,221.226c-1.953-1.631-4.568-2.235-7.036-1.628c-21.686,5.327-44.926,8.028-69.075,8.028  c-25.926,0-49.633-8.975-64.955-16.504c-2.307-1.134-5.016-1.091-7.284,0.116c-14.059,7.477-36.919,16.388-65.994,16.388  c-24.153,0-47.394-2.701-69.075-8.028c-5.155-1.268-10.221,2.966-9.894,8.261c2.077,33.693,7.668,65.635,16.616,94.935  c22.774,74.565,66.139,126.334,128.888,153.868c2.032,0.891,4.397,0.891,6.43,0c61.777-27.107,104.716-78.876,127.62-153.868  c8.948-29.3,14.539-61.241,16.616-94.935C479.224,225.319,478.163,222.856,476.21,221.226z"
 />
 <path
  style="fill:#FFDB66;"
  d="M331.609,451.727c-52.604-25.289-89.304-70.987-109.144-135.944  c-6.532-21.39-11.162-44.336-13.82-68.447c17.133,2.852,34.952,4.291,53.22,4.291c29.394,0,53.376-7.793,69.978-15.561  c17.44,7.736,41.656,15.561,68.256,15.561c18.267,0,36.085-1.439,53.219-4.291c-2.659,24.112-7.288,47.06-13.82,68.448  C419.545,381.108,383.27,426.805,331.609,451.727z"
 />
 <g>
  <path
   style="fill:#2C9DD4;"
   d="M479.066,227.858c0.157-2.539-0.903-5.002-2.856-6.633s-4.568-2.235-7.036-1.628   c-21.686,5.327-44.926,8.028-69.075,8.028c-25.926,0-49.633-8.975-64.955-16.504c-1.057-0.52-2.2-0.78-3.345-0.806l-0.072,133.351   h123.601c2.556-6.746,4.933-13.702,7.123-20.874C471.398,293.493,476.989,261.552,479.066,227.858z"
  />
  <path
   style="fill:#2C9DD4;"
   d="M206.658,343.667c24.153,63.42,65.028,108.108,121.743,132.995c1.031,0.452,2.147,0.673,3.263,0.666   l0.063-133.661H206.658z"
  />
 </g>
 <g>
  <path
   style="fill:#3CBDE8;"
   d="M439.497,315.783c6.532-21.389,11.161-44.336,13.82-68.448c-17.134,2.852-34.952,4.291-53.219,4.291   c-26.6,0-50.815-7.824-68.256-15.561l-0.116,107.601h97.758C433.179,334.807,436.524,325.518,439.497,315.783z"
  />
  <path
   style="fill:#3CBDE8;"
   d="M232.523,343.667c21.144,50.298,54.363,86.56,99.087,108.06l0.117-108.06H232.523z"
  />
 </g>
</svg>
