<svg viewBox="0 0 512 512">
 <path
  style="fill:#8E9AA9;"
  d="M168,200c-4.418,0-8,3.582-8,8v120h-17.376c-3.302-9.311-12.194-16-22.624-16  c-13.234,0-24,10.767-24,24s10.766,24,24,24c10.429,0,19.321-6.689,22.624-16H168c4.418,0,8-3.582,8-8V208  C176,203.582,172.418,200,168,200z"
 />
 <path
  style="fill:#FFDB66;"
  d="M120,328c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S124.411,328,120,328z"
 />
 <path
  style="fill:#56677E;"
  d="M208,200c-4.418,0-8,3.582-8,8v184H94.624C91.322,382.689,82.43,376,72,376  c-13.234,0-24,10.767-24,24s10.766,24,24,24c10.429,0,19.321-6.689,22.624-16H208c4.418,0,8-3.582,8-8V208  C216,203.582,212.418,200,208,200z"
 />
 <path
  style="fill:#FFDB66;"
  d="M72,392c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S76.411,392,72,392z"
 />
 <path
  style="fill:#69788D;"
  d="M240,208c-4.418,0-8,3.582-8,8v239H47.24c-2.671-10.34-12.078-18-23.24-18c-13.234,0-24,10.767-24,24  s10.766,24,24,24c9.666,0,18.009-5.747,21.809-14H240c4.418,0,8-3.582,8-8V216C248,211.582,244.418,208,240,208z"
 />
 <path
  style="fill:#FFDB66;"
  d="M24,453c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S28.411,453,24,453z"
 />
 <path
  style="fill:#69788D;"
  d="M488,464c-10.429,0-19.321,6.689-22.624,16H280V208c0-4.418-3.582-8-8-8s-8,3.582-8,8v280  c0,4.418,3.582,8,8,8h193.376c3.302,9.311,12.194,16,22.624,16c13.234,0,24-10.767,24-24S501.234,464,488,464z"
 />
 <path
  style="fill:#FFDB66;"
  d="M488,480c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S492.411,480,488,480z"
 />
 <path
  style="fill:#56677E;"
  d="M456,408c-10.429,0-19.321,6.689-22.624,16H312V208c0-4.418-3.582-8-8-8s-8,3.582-8,8v224  c0,4.418,3.582,8,8,8h129.376c3.302,9.311,12.194,16,22.624,16c13.234,0,24-10.767,24-24S469.234,408,456,408z"
 />
 <path
  style="fill:#FFDB66;"
  d="M456,424c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S460.411,424,456,424z"
 />
 <path
  style="fill:#8E9AA9;"
  d="M416,344c-10.429,0-19.321,6.689-22.624,16H352V208c0-4.418-3.582-8-8-8s-8,3.582-8,8v160  c0,4.418,3.582,8,8,8h49.376c3.302,9.311,12.194,16,22.624,16c13.234,0,24-10.767,24-24S429.234,344,416,344z"
 />
 <path
  style="fill:#FFDB66;"
  d="M416,360c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S420.411,360,416,360z"
 />
 <path
  style="fill:#3CBDE8;"
  d="M362,88c-8.741,0-17.231,1.751-25.06,5.085C337.646,88.797,338,84.43,338,80  c0-44.112-35.888-80-80-80c-42.823,0-77.895,33.816-79.909,76.149C170.393,73.415,162.244,72,154,72c-39.701,0-72,32.299-72,72  s32.299,72,72,72h208c35.29,0,64-28.71,64-64S397.29,88,362,88z"
 />
 <path
  style="fill:#2C9DD4;"
  d="M368,200H160c-39.701,0-72-32.299-72-72c0-5.863,0.721-11.559,2.05-17.019  C84.918,120.88,82,132.102,82,144c0,39.701,32.299,72,72,72h208c30.389,0,55.88-21.296,62.379-49.743  C413.565,186.327,392.352,200,368,200z"
 />
 <path
  style="fill:#2A7DB5;"
  d="M256,128c-13.234,0-24,10.767-24,24s10.766,24,24,24c13.233,0,24-10.767,24-24S269.233,128,256,128z"
 />
 <path
  style="fill:#2C9DD4;"
  d="M256,144c-4.411,0-8,3.589-8,8s3.589,8,8,8c4.411,0,8-3.589,8-8S260.411,144,256,144z"
 />
 <g>
  <path
   style="fill:#C5F1FA;"
   d="M221.755,87.695c-2.994,0-5.864-1.688-7.233-4.572c-1.894-3.991-0.194-8.763,3.798-10.657   C230.157,66.849,242.834,64,256,64c13.166,0,25.844,2.849,37.68,8.466c3.992,1.895,5.692,6.666,3.798,10.657   s-6.666,5.692-10.657,3.798C277.144,82.328,266.774,80,256,80c-10.774,0-21.144,2.328-30.821,6.921   C224.072,87.446,222.904,87.695,221.755,87.695z"
  />
  <path
   style="fill:#C5F1FA;"
   d="M276.545,116.618c-1.148,0-2.316-0.249-3.424-0.774C267.745,113.293,261.985,112,256,112   c-5.985,0-11.745,1.293-17.121,3.844c-3.991,1.895-8.763,0.192-10.657-3.798c-1.894-3.992-0.193-8.764,3.798-10.657   C239.557,97.813,247.625,96,256,96c8.376,0,16.444,1.813,23.98,5.389c3.991,1.894,5.692,6.665,3.798,10.657   C282.41,114.93,279.539,116.618,276.545,116.618z"
  />
 </g>
</svg>
