html {
 background: #b3b3b3;
 padding: 15px;
 border: 5px solid white;
 margin: 15px;
 height: 2000px;
}

body {
 background: #fa923f;
 padding: 20px;
 border: 5px solid black;
 margin: 0;
}

.parent {
 background: white;
 padding: 20px;
 border: 5px solid black;
 margin: 0;
 overflow: hidden;
}

.parent div {
 background: rgb(105, 105, 109);
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
}

.parent .child-1 {
 position: relative;
 top: 180px;
 left: 50px;
 right: 50px;
 /* width: 100%;
 left: 0;
 top: 0;
 margin: 0;
 box-sizing: border-box; */
 /*top: 100px; moves element   */
}

/* 
position: fixed
Takes an element out of the document flow.
For the other elements the fixed element no longer exist.
Fixed elements will behave like an inline block element.
The positioning context is always the viewport 

position: absolute 
the positioning context is taken out of the document flow
the positioning context changes to the closest ancestor which has a position property applied
If there is not any ancestor with a position property the position context is the html element

position: relative
The positioning context is the element itself and at the same time its not taken out of the document flow

tip:
overflow properties applied to the body element are passed automatically to the html element
In order to change this behavior you need to add an overflow property to the html element 
Example: html{overflow:auto}

*/
