main {
 padding-top: 1rem;
}

.signup-title {
 text-align: center;
 font-size: 1.8rem;
 color: #ff5454;
}
.signup-form {
 padding: 1rem;
 display: grid;
 grid-auto-rows: 2rem;
 grid-row-gap: 0.5rem;
}
.signup-form label {
 font-weight: bold;
}
.signup-form label,
.signup-form input,
.signup-form select {
 display: block;
 width: 100%;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label
/* targets only label elements followed by an input with the terms id */
 {
 display: inline-block;
 width: auto;
 vertical-align: middle;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
 border: 1px solid #ccc;
 padding: 0.2rem 0.5rem;
 font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
 outline: none;
 background: #d8f3df;
 border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
 border: 1px solid #ccc;
 background: white;
 width: 1rem;
 height: 1rem;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.signup-form input[type="checkbox"]:checked {
 background: #2ddf5c;
 border: #0e4f1f;
}

.signup-form button[type="submit"] {
 display: block;
}

/* .signup-form input.invalid,
.signup-form select.invalid, */
.signup-form :invalid {
 border-color: red !important;
 background: #faacac;
}

@media (min-width: 40rem) {
 .signup-form {
  margin: auto;
  width: 30rem;
  grid-template-columns: 10rem auto;
  grid-row-gap: 1rem;
  grid-column-gap: 0.5rem;
 }
 .signup-form [id="title"] {
  grid-column: span 2;
 }

 .signup-form__checkbox {
  grid-column: span 2;
 }
}
