h1 {
 color: red;
 font-family: sans-serif;
}

code {
 font-family: monospace;
 color: red;
}

.second-code {
 color: green;
}

body {
 font-family: sans-serif;
}

li {
 font-family: inherit;
}

li:not(:first-child) {
 background-color: black;
 color: white;
}

ol li {
 background-color: black;
 color: white;
}
