* {
 box-sizing: border-box;
 font-size: 1.5rem;
}

html {
 background: #b3b3b3;
 padding: 5px;
}

body {
 background: #b3b3b3;
 padding: 5px;
 margin: 0;
}

.flex-container {
 background: white;
 padding: 10px;
 border: 5px solid black;
 height: 1300px;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 /* align-items: align flex items in the cross axis */
 justify-content: flex-start;
 /* align-items: align flex items in the main axis */
 /* flex shorthand: */
 /* flex-flow: row wrap; */
 /* align content, let us align further in the cross axis */
}

.item-1 {
 background: #ff7300;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
}

.item-2 {
 background: #ff9640;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
 width: 250px;
 font-size: 1.8rem;
}

.item-3 {
 background: #ff9640;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
 height: 250px;
 /* align-self: flex-start; */
}

.item-4 {
 background: #f5c096;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
 width: 300px;
 height: 300px;
}

.item-5 {
 background: #d3c0b1;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
 width: 350px;
 /* flex-basis: 300px; */
 flex-basis: 10%;
 /* flex-basis overrides either width or height depending on the main axis */
 /* flex-shrink: 1; */
 /* flex-grow: 1; */
 /* flex-grow sets a proportion in which the element can grow accordingly with other elements that share that same property  */
 /* flex shorthand */
 /* flex: flex-grow flex-shrink flex-basis*/
 /* default values flex: 0 1 auto */
}

.item-6 {
 background: #d3c0b1;
 color: white;
 padding: 10px;
 border: 5px solid black;
 margin: 10px;
 width: 350px;
 /* flex-shrink: 4; */
 /* flex-shrink sets a proportion in which the element can shrink accordingly with other elements that share that same property  */
 /* flex-grow: 4; */
}
